<?xml version='1.0' encoding='utf-8'?>
<widget id="com.threedailythings" version="0.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Three Daily Things</name>
    <description>
        A motivational tool to help you work on the three daily things that will improve your life.
    </description>
    <author email="matthewcasperson@gmail.com" href="http://threedailythings.com">
        Matthew Casperson
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
              <icon src="lib/website/favicon.png" density="ldpi" />
              <icon src="lib/website/favicon.png" density="mdpi" />
              <icon src="lib/website/favicon.png" density="hdpi" />
              <icon src="lib/website/favicon.png" density="xhdpi" />
     </platform>
</widget>
